
.icon-changeInfo {
        position: relative;
        margin-left: 20px;
        top: 0px;
        background-image: url('../svg/pencil-edit-create-compose-write-new-svgrepo-com.png');
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover, &:active {
            background-image: url('../svg/plus-circle-active.png');
        }

    }  
  